<nz-page-header nzTitle="Articulos"></nz-page-header>

<div fxLayout="row" >
    <div fxFlexOffset="5" fxFlex="90">
        <mat-form-field class="example-form-field" appearance="standard">
            <mat-label>Buscar articulo</mat-label>
            <input matInput type="text" [(ngModel)]="textoBusqueda" (change)="buscarArticulos()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="5" fxFlex.sm="90" fxFlexOffset.md="5" fxFlex.md="20" fxFlexOffset.lg="5" fxFlex.lg="20" fxFlexOffset.xl="5" fxFlex.xl="20">
        <mat-form-field appearance="standard">
        <mat-label>Familia</mat-label>
        <mat-select [(ngModel)]="familiaSeleccionada" name="familia" (ngModelChange)="seleccionarFamilia($event)">
            <mat-option *ngFor="let familia of familias" [value]="familia.familia">{{familia.familia}}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="5" fxFlex.sm="90" fxFlexOffset.md="5" fxFlex.md="20" fxFlexOffset.lg="5" fxFlex.lg="20" fxFlexOffset.xl="5" fxFlex.xl="20">
        <mat-form-field appearance="standard">
            <mat-label>Linea</mat-label>
            <mat-select [(ngModel)]="lineaSeleccionada" name="linea" (ngModelChange)="seleccionarLinea($event)">
                <mat-option *ngFor="let linea of articuloLineas" [value]="linea.linea">{{linea.linea}}</mat-option>
            </mat-select>
            </mat-form-field>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="98" fxFlex.md="47" fxFlex.lg="46" fxFlex.xl="46">
        <mat-paginator [length]="50" [pageSize]="tamanoPagina" [pageSizeOptions]="[5, 10, 25, 50]" color="warn" (page)="cambiarPagina($event)">
        </mat-paginator>
    </div>
</div>


<ng-container *ngIf="listaArticulos.length > 0; else sinResultados">
    <div fxHide.sm fxHide.xs fxShow.md fxShow.lg fxShow.xl fxLayout="row wrap" fxFill>
        <div fxFlex="0 0 25" *ngFor="let articulo of listaArticulos" style="margin-top: 15px;">
            <div fxLayout="row" fxFill>
                <div fxFlexOffset="15" fxFlex="70">
                    <nz-card [nzCover]="imagenArticulo" [nzActions]="[btnAgregar,btnVerDetalle]">
                        <nz-card-meta *ngIf="usuario.esAdmin; else contenidoAgente" [nzTitle]="articulo.articulo" [nzDescription]="precioLista"></nz-card-meta>
                        <ng-template #contenidoAgente>
                            <nz-card-meta [nzTitle]="articulo.articulo"></nz-card-meta>
                        </ng-template>
                        <div class="descripcionArticulo">
                            <div fxLayout="column" fxFill>
                                <div fxFlex="100">
                                    {{articulo.descripcion1}}
                                </div>
                                <div fxFlex="100" [ngSwitch]="articulo.linea">
                                    <nz-tag *ngSwitchCase="'STOCK'" nzColor="success">{{articulo.linea}}</nz-tag>
                                    <nz-tag *ngSwitchCase="'SOBREPEDIDO'" nzColor="processing">{{articulo.linea}}</nz-tag>
                                </div>
                            </div>
                        </div>
                    </nz-card>
                    <ng-template #precioLista>
                        <b>{{articulo.precioLista | currency}}</b>
                    </ng-template>
                    <ng-template #imagenArticulo>
                        <img *ngIf="articulo.imagenBase64.length > 0; else imagenNoDisponible" [src]="'data:image/jpeg;base64,' + articulo.imagenBase64[0]">
                        <ng-template #imagenNoDisponible>
                            <img [src]="imgNoDisponible">
                        </ng-template>
                    </ng-template>
                    <ng-template #btnAgregar>
                        <button mat-raised-button (click)="agregarArticulo(articulo)" [disabled]="articulo.rSaldoU.length === 0 && articulo.linea === 'STOCK'">
                            <mat-icon>shopping_cart</mat-icon>
                            <span> Agregar</span>
                        </button>
                    </ng-template>
                    <ng-template #btnVerDetalle>
                        <button mat-raised-button (click)="verDetalleArticulo(articulo.articulo)">
                            <mat-icon>visibility</mat-icon>
                            <span> Ver</span>
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    
    <div fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl fxLayout="row wrap" fxFill>
        <div fxFlex="0 0 100" *ngFor="let articulo of listaArticulos" style="margin-top: 15px;">
            <div fxLayout="row" fxFill>
                <div fxFlexOffset="15" fxFlex="70">
                    <nz-card [nzCover]="imagenArticulo" [nzActions]="[btnAgregar,btnVerDetalle]">
                        <nz-card-meta *ngIf="usuario.esAdmin; else contenidoAgente" [nzTitle]="articulo.articulo" [nzDescription]="precioLista"></nz-card-meta>
                        <ng-template #contenidoAgente>
                            <nz-card-meta [nzTitle]="articulo.articulo"></nz-card-meta>
                        </ng-template>
                        <div class="descripcionArticulo">
                            <div class="descripcionArticulo">
                                <div fxLayout="column" fxFill>
                                    <div fxFlex="100">
                                        {{articulo.descripcion1}}
                                    </div>
                                    <div fxFlex="100" [ngSwitch]="articulo.linea">
                                        <nz-tag *ngSwitchCase="'STOCK'" nzColor="success">{{articulo.linea}}</nz-tag>
                                        <nz-tag *ngSwitchCase="'SOBREPEDIDO'" nzColor="processing">{{articulo.linea}}</nz-tag>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nz-card>
                    <ng-template #precioLista>
                        <b>{{articulo.precioLista | currency}}</b>
                    </ng-template>
                    <ng-template #imagenArticulo>
                        <img *ngIf="articulo.imagenBase64.length > 0; else imagenNoDisponibleSmall" [src]="'data:image/jpeg;base64,' + articulo.imagenBase64[0]">
                        <ng-template #imagenNoDisponibleSmall>
                            <img [src]="imgNoDisponible">
                        </ng-template>
                    </ng-template>
                    <ng-template #btnAgregar>
                        <button mat-raised-button (click)="agregarArticulo(articulo)" [disabled]="articulo.rSaldoU.length === 0 && articulo.linea === 'STOCK'">
                            <mat-icon>shopping_cart</mat-icon>
                            <span> Agregar</span>
                        </button>
                    </ng-template>
                    <ng-template #btnVerDetalle>
                        <button mat-raised-button (click)="verDetalleArticulo(articulo.articulo)">
                            <mat-icon>visibility</mat-icon>
                            <span> Ver</span>
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #sinResultados>
    <div fxLayout="row" fxFill>
        <div fxFlex="100">
            <nz-result nzStatus="info" nzTitle="No se han encotrado articulos">
            </nz-result>
        </div>
    </div>
</ng-template>