<nz-page-header *ngIf="solicitudService.solicitudOC.encabezado.id !== undefined" [nzTitle]="titulo" nzBackIcon nz-tooltip [nzTooltipTitle]="titulo" [nzTooltipMouseEnterDelay]="3" [nzTooltipMouseLeaveDelay]="1" [nzTooltipTrigger]="'hover'">
    <nz-page-header-tags [ngSwitch]="solicitudService.solicitudOC.encabezado.estatus">
        <nz-tag *ngSwitchCase="'PENDIENTE'" nzColor="processing">{{solicitudService.solicitudOC.encabezado.estatus}}</nz-tag>
        <nz-tag *ngSwitchCase="'ENVIADA'" nzColor="success">{{solicitudService.solicitudOC.encabezado.estatus}}</nz-tag>
        <nz-tag *ngSwitchCase="'POR AUTORIZAR'" nzColor="warning">{{solicitudService.solicitudOC.encabezado.estatus}}</nz-tag>
        <nz-tag *ngSwitchCase="'CONCLUIDO'" nzColor="success">{{solicitudService.solicitudOC.encabezado.estatus}}</nz-tag>
        <nz-tag *ngSwitchCase="'REVISION'" nzColor="warning">{{solicitudService.solicitudOC.encabezado.estatus}}</nz-tag>
    </nz-page-header-tags>
    <nz-page-header-extra>
        <button mat-raised-button *ngIf="solicitudService.solicitudOC.detalle.length > 0 && solicitudService.solicitudOC.encabezado.estatus === 'PENDIENTE'" (click)="enviarOrden((usuario.esAdmin) ? 'ENVIADA' : 'POR AUTORIZAR')">
            <span >{{ (usuario.esAdmin) ? 'Enviar solicitud' : 'Enviar a autorización' }}</span>
        </button>
    </nz-page-header-extra>
</nz-page-header>

<div fxLayout="row">
    <div fxFlexOffset="10" fxFlex="80">
        <nz-result nzStatus="warning" [nzTitle]="'Aun no se han agregado articulos a la solicitud'" *ngIf="solicitudService.solicitudOC.detalle.length === 0; else ContenidoCarrito">
            <div nz-result-extra>
                <button nz-button nzType="primary" routerLink="..">Regresar</button>
            </div>
        </nz-result>
        <ng-template #ContenidoCarrito>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Articulo</th>
                            <th>Descripción</th>
                            <th class="centrarTexto">Unidad</th>
                            <th class="centrarTexto" *ngIf="solicitudService.solicitudOC.encabezado.estatus === 'PENDIENTE'">Disponible</th>
                            <th class="centrarTexto">Cantidad</th>
                            <th class="centrarTexto" *ngIf="usuario.esAdmin">Precio</th>
                            <th class="centrarTexto">Almacén</th>
                            <th class="centrarTexto">Linea</th>
                            <th class="centrarTexto" *ngIf="solicitudService.solicitudOC.encabezado.estatus === 'PENDIENTE'">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let articulo of solicitudService.solicitudOC.detalle; let indice = index">
                            <td>{{articulo.articulo}}</td>
                            <td>{{articulo.descripcion}}</td>
                            <td class="centrarTexto">{{articulo.unidad}}</td>
                            <td *ngIf="solicitudService.solicitudOC.encabezado.estatus === 'PENDIENTE'" class="centrarTexto">{{articulo.disponible}}</td>
                            <td class="centrarTexto">
                                <!-- <input style="width: 50px;" type="number" [max]="(articulo.disponible === undefined) ? 0 : articulo.disponible" min="0" [(ngModel)]="articulo.cantidad" (change)="solicitudService.calcularImporte()"> -->
                                <input style="width: 50px;" [disabled]="solicitudService.solicitudOC.encabezado.estatus !== 'PENDIENTE'" type="number" [(ngModel)]="articulo.cantidad" (change)="solicitudService.modificarCantidadArticulo(articulo)">
                            </td>
                            <td *ngIf="usuario.esAdmin" class="centrarTexto">{{articulo.precio | currency}}</td>
                            <td class="centrarTexto almacen" *ngIf="solicitudService.solicitudOC.encabezado.estatus === 'PENDIENTE' && articulo.linea === 'STOCK' ; else almacenDesactivado" [ngSwitch]="articulo.almacen" (click)="verDisponibles(articulo, indice)">
                                <ng-container *ngSwitchCase="'AYU-100'">AYUNTAMIENTO, AGS</ng-container>
                                <ng-container *ngSwitchCase="'BLV-100'">BLV A ZAC, AGS</ng-container>
                                <ng-container *ngSwitchCase="'CDG-100'">CEDIS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'LOP-100'">LOPEZ MATEOS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'UNI-100'">UNIVERSIDAD, AGS</ng-container>
                                <ng-container *ngSwitchCase="'HAC-100'">HACIENDAS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'PAS-100'">PASEO DE LA CRUZ, AGS</ng-container>
                                <ng-container *ngSwitchCase="'RIN-100'">RINCÓN DE ROMOS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'NHE-100'">NIÑOS HEROES, JAL</ng-container>
                                <ng-container *ngSwitchCase="'JUP-100'">JUAN PABLO, JAL</ng-container>
                                <ng-container *ngSwitchCase="'GZL-100'">GONZALEZ GALLO, JAL</ng-container>
                                <ng-container *ngSwitchCase="'ZAC-100'">GUADALUPE, ZAC</ng-container>
                            </td>
                            <ng-template #almacenDesactivado>
                                <td class="centrarTexto" [ngSwitch]="articulo.almacen">
                                    <ng-container *ngSwitchCase="'AYU-100'">AYUNTAMIENTO, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'BLV-100'">BLV A ZAC, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'CDG-100'">CEDIS, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'LOP-100'">LOPEZ MATEOS, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'UNI-100'">UNIVERSIDAD, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'HAC-100'">HACIENDAS, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'PAS-100'">PASEO DE LA CRUZ, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'RIN-100'">RINCÓN DE ROMOS, AGS</ng-container>
                                    <ng-container *ngSwitchCase="'NHE-100'">NIÑOS HEROES, JAL</ng-container>
                                    <ng-container *ngSwitchCase="'JUP-100'">JUAN PABLO, JAL</ng-container>
                                    <ng-container *ngSwitchCase="'GZL-100'">GONZALEZ GALLO, JAL</ng-container>
                                    <ng-container *ngSwitchCase="'ZAC-100'">GUADALUPE, ZAC</ng-container>
                                </td>
                            </ng-template>
                            <td class="centrarTexto">{{articulo.linea}}</td>
                            <td class="centrarTexto" *ngIf="solicitudService.solicitudOC.encabezado.estatus === 'PENDIENTE'">
                                <mat-icon matTooltip="Quitar" (click)="solicitudService.quitarDetalleSolicitud(articulo)">delete</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
</div>

<ng-container *ngIf="solicitudService.solicitudOC.detalle.length > 0">
    <div fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
        <div fxFlexOffset.md="10" fxFlex.md="40" fxFlexOffset.lg="10" fxFlex.lg="40" fxFlexOffset.xl="10" fxFlex.xl="40">
            <mat-form-field appearance="standard">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput [(ngModel)]="solicitudService.solicitudOC.encabezado.observaciones" [readonly]="solicitudService.solicitudOC.encabezado.estatus !=='PENDIENTE'">
                <mat-icon *ngIf="solicitudService.solicitudOC.encabezado.estatus ==='PENDIENTE'" (click)="solicitudService.actualizarEncabezadoOrdenSolicitud()" matSuffix matTooltip="Guardar" style="color: green;">done</mat-icon>
            </mat-form-field>
        </div>
        <div fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" *ngIf="usuario.esAdmin">
            <div fxLayout="row">
                <div fxFlexOffset.md="20" fxFlex.md="80" fxFlexOffset.lg="20" fxFlex.lg="80" fxFlexOffset.xl="20" fxFlex.xl="80" class="totalEncabezado">
                    <span>Total de la orden</span>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.md="20" fxFlex.md="80" fxFlexOffset.lg="20" fxFlex.lg="80" fxFlexOffset.xl="20" fxFlex.xl="80" class="concepto">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlexOffset="10" fxFlex="30">
                                    <span>Importe</span>        
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlex="80" class="monto">
                                    <span>{{solicitudService.solicitudOC.encabezado.importe | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.md="20" fxFlex.md="80" fxFlexOffset.lg="20" fxFlex.lg="80" fxFlexOffset.xl="20" fxFlex.xl="80" class="concepto">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlexOffset="10" fxFlex="30">
                                    <span>Impuestos</span>        
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlex="80" class="monto">
                                    <span>{{solicitudService.solicitudOC.encabezado.impuestos | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.md="20" fxFlex.md="80" fxFlexOffset.lg="20" fxFlex.lg="80" fxFlexOffset.xl="20" fxFlex.xl="80" class="concepto">
                    <div fxLayout="row" fxFill>
                        <div fxFlexOffset="5" fxFlex="85" class="separador"></div>
                    </div>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.md="20" fxFlex.md="80" fxFlexOffset.lg="20" fxFlex.lg="80" fxFlexOffset.xl="20" fxFlex.xl="80" class="totalSolicitud">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlexOffset="10" fxFlex="30">
                                    <span>Total</span>        
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlex="80" class="monto">
                                    <span>{{ solicitudService.solicitudOC.encabezado.importe + solicitudService.solicitudOC.encabezado.impuestos | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div  fxLayout.xs="column" fxLayout.sm="column" fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
        <div fxFlex.xs="100" fxFlex.sm="100">
            <div fxLayout="row" fxFill>
                <div fxFlexOffset="10" fxFlex="80">
                    <mat-form-field appearance="standard">
                        <mat-label>Observaciones</mat-label>
                        <input type="text" matInput [(ngModel)]="solicitudService.solicitudOC.encabezado.observaciones" [readonly]="solicitudService.solicitudOC.encabezado.estatus !=='PENDIENTE'">
                        <mat-icon *ngIf="solicitudService.solicitudOC.encabezado.estatus ==='PENDIENTE'" (click)="solicitudService.actualizarEncabezadoOrdenSolicitud()" matSuffix matTooltip="Guardar" style="color: green;">done</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" *ngIf="usuario.esAdmin">
            <div fxLayout="row">
                <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80" class="totalEncabezado">
                    <span>Total de la orden</span>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80" class="concepto">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlexOffset="10" fxFlex="30">
                                    <span>Importe</span>        
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlex="80" class="monto">
                                    <span>{{solicitudService.solicitudOC.encabezado.importe | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80" class="concepto">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlexOffset="10" fxFlex="30">
                                    <span>Impuestos</span>        
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlex="80" class="monto">
                                    <span>{{solicitudService.solicitudOC.encabezado.impuestos | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80" class="concepto">
                    <div fxLayout="row" fxFill>
                        <div fxFlexOffset="5" fxFlex="85" class="separador"></div>
                    </div>
                </div>
            </div>
    
            <div fxLayout="row">
                <div fxFlexOffset.xs="10" fxFlex.xs="80" fxFlexOffset.sm="10" fxFlex.sm="80" class="totalSolicitud">
                    <div fxLayout="row" fxFill>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlexOffset="10" fxFlex="30">
                                    <span>Total</span>        
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxFill>
                                <div fxFlex="80" class="monto">
                                    <span>{{ solicitudService.solicitudOC.encabezado.importe + solicitudService.solicitudOC.encabezado.impuestos | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>