<div fxLayout="column" fxFill>

    <div fxFlex="10">
        <mat-toolbar class="mat-elevation-z5">
            <div fxShow.xs fxShow.sm fxFlex.xs="10" fxFlex.sm="10" fxHide.lg fxHide.md fxHide.xl [matMenuTriggerFor]="responsiveMenu">
                <button mat-icon-button aria-label="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #responsiveMenu>
                    <button mat-menu-item (click)="abrirModalQR(contentQR)">
                        <mat-icon>qr_code_2</mat-icon>
                        <span>Buscar por QR</span>
                    </button>
                </mat-menu>
            </div>
            
            <img (click)="mostrarArticulos()" matTooltip="Volver al inicio" fxFlex.xs="30" fxFlex.sm="20" fxFlex.md="15" fxFlex.lg="10" fxFlex.xl="10" [ngClass.xs]="'logo'" [ngClass.sm]="'logo'" [ngClass.md]="'logo'" [ngClass.lg]="'logo'" [ngClass.xl]="'logo-xl'" src="assets/img/Logotipo_C.png" alt="">
            
            <div fxHide.xs fxHide.sm fxFlexOffset.md="5" fxFlexOffset.lg="20" fxFlexOffset.xl="20" fxFlexOffset.xl="20" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                <a mat-button (click)="abrirModalQR(contentQR)">
                    <mat-icon>qr_code_2</mat-icon>
                    <span>Buscar por QR</span>
                </a>
            </div>
        
            <div fxFlexOffset.xs="40" fxFlexOffset.sm="50" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="40" fxFlex.lg="20" fxFlex.xl="20">
                <button  mat-icon-button aria-label="boton usuario" [matMenuTriggerFor]="menuUsuario">
                    <mat-icon>account_circle</mat-icon> <span fxHide.xs fxHide.sm>{{ (UsuarioObj.cliente !== null) ? UsuarioObj.cliente?.nombre : UsuarioObj.agente?.nombre}}</span>
                </button>
                <mat-menu #menuUsuario>
                    <button mat-menu-item (click)="verMisOrdenesSolicitudes()">
                        <mat-icon>work</mat-icon>
                        <span>{{ (UsuarioObj.esAdmin) ? 'Mis ordenes' : 'Mis solicitudes' }}</span>
                    </button>
                    <button mat-menu-item (click)="verSolicitudesAgentes()" *ngIf="UsuarioObj.esAdmin">
                        <mat-icon>article</mat-icon>
                        <span>Solicitudes Agentes</span>
                    </button>
                    <button mat-menu-item (click)="cerrarSesion()">
                        <mat-icon>logout</mat-icon>
                        <span>Cerrar sesión</span>
                    </button>
                </mat-menu>
            </div>
        
            <button fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10" mat-icon-button aria-label="Boton carrito de compra" routerLink="./carrito">
                <mat-icon [matBadge]="solicitudService.totalCarritoPendiente" matBadgeSize="small" matBadgePosition="after" matBadgeColor="accent" matTooltip="Ver carrito">shopping_cart</mat-icon>
            </button>
        </mat-toolbar>
    </div>

    <div fxFlex="80" class="ScrollableContent" #TopDiv>
        <ng-template #contentQR let-modal>
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Buscar Artículo por QR</h5>
                <button mat-icon-button aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="selCamera">Camaras disponibles</label>
                    <select class="form-control" name="selCamera" id="selCamera" [(ngModel)]="camaraSeleccionada">
                        <option [ngValue]="camara" *ngFor="let camara of camarasDisponibles">
                            {{camara.label}}
                        </option>
                    </select>
                  </div>
                <zxing-scanner [(device)]="camaraSeleccionada" (permissionResponse)="permisosCamara($event)" (camerasFound)="camarasEncotradas($event)" (scanSuccess)="codigoEscaneado($event)"></zxing-scanner>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Cerrar</button>
            </div>
        </ng-template>
        <router-outlet></router-outlet>
        <nz-back-top [nzTarget]="TopDiv" [nzVisibilityHeight]="500" [nzDuration]="3000"></nz-back-top>
    </div>

    <div fxFlex="10" class="footer-home">
        <mat-toolbar>
            <span>®VitroHogar {{ anio }}</span>
        </mat-toolbar>
    </div>
</div>