mat-form-field {
    width: 100%;
}

.table thead {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
}

.table tbody tr {
    text-align: center;
}

button.mat-raised-button {
    background-color: #ff0000 !important;
    color: #fff !important;
}