<nz-page-header [nzTitle]="articulo.descripcion1" nzBackIcon></nz-page-header>
<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxFill>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
        <div fxLayout="row" fxFill>
            <div fxFlexOffset.xs="30" fxFlex.xs="40" fxFlexOffset.sm="30" fxFlex.sm="40" fxFlexOffset.md="20" fxFlex.md="60" fxFlexOffset.lg="20" fxFlex.lg="60" fxFlexOffset.xl="20" fxFlex.xl="60">
                <div fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl fxLayout.xs="row" fxLayout.sm="row" fxFill class="img-articulo">
                    <ng-container *ngIf="articulo.imagenBase64.length > 0; else noDisponibleSmall">
                        <ngb-carousel [interval]="2000">
                            <ng-template *ngFor="let imagen of articulo.imagenBase64" ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="'data:image/jpeg;base64,' + imagen">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </ng-container>
                    <ng-template #noDisponibleSmall>
                        <img [src]="imagenNoDisponible">
                    </ng-template>
                </div>
                <div fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl fxLayout.md="column" fxLayout.lg="column" fxLayout.xl="column" fxFill>
                    <div fxFlexOffset.md="20" fxFlex.md="60" fxFlexOffset.lg="20" fxFlex.lg="60" fxFlexOffset.xl="20" fxFlex.xl="60" class="img-articulo">
                        <ng-container *ngIf="articulo.imagenBase64.length > 0; else noDisponibleBig">
                            <ngb-carousel [interval]="2000">
                                <ng-template *ngFor="let imagen of articulo.imagenBase64" ngbSlide>
                                    <div class="picsum-img-wrapper">
                                        <img [src]="'data:image/jpeg;base64,' + imagen">
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </ng-container>
                        <ng-template #noDisponibleBig>
                            <img [src]="imagenNoDisponible">
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
        <nz-descriptions [nzTitle]="articulo.descripcion1" nzBordered [nzColumn]="{xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
            <nz-descriptions-item nzTitle="SKU">{{articulo.articulo}}</nz-descriptions-item>
            <nz-descriptions-item *ngIf="usuario.esAdmin" nzTitle="Precio"> <b>{{articulo.precioLista | currency}}</b></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Unidad">{{articulo.unidad}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Familia">{{articulo.familia}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Linea">{{articulo.linea}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Fabricante">{{articulo.fabricante}}</nz-descriptions-item>
        </nz-descriptions>
        <button mat-raised-button [disabled]="articulo.rSaldoU.length === 0 && articulo.linea === 'STOCK'" (click)="agregarArticulo()">
            <mat-icon>shopping_cart</mat-icon>
            <span> Agregar</span>
        </button>
    </div>


    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" class="disponibles" *ngIf="articulo.linea === 'STOCK'; else tmpSobrepedido">
        <div fxLayout="row" fxFill>
            <div fxFlexOffset="25" fxFlex="50">
                <table class="table table-striped" *ngIf="articulo.rSaldoU.length !== 0; else NoDisponible">
                    <thead>
                        <tr>
                            <th>Almacen</th>
                            <th>Disponible</th>
                        </tr>
                    </thead>
                    <tbody #tbodyDetalle>
                        <tr *ngFor="let disponible of articulo.rSaldoU; let indice = index" (click)="seleccionarAlmacen(indice, disponible)">
                            <td [ngSwitch]="disponible.grupo">
                                <ng-container *ngSwitchCase="'AYU-100'">AYUNTAMIENTO, AGS</ng-container>
                                <ng-container *ngSwitchCase="'BLV-100'">BLV A ZAC, AGS</ng-container>
                                <ng-container *ngSwitchCase="'CDG-100'">CEDIS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'LOP-100'">LOPEZ MATEOS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'UNI-100'">UNIVERSIDAD, AGS</ng-container>
                                <ng-container *ngSwitchCase="'HAC-100'">HACIENDAS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'PAS-100'">PASEO DE LA CRUZ, AGS</ng-container>
                                <ng-container *ngSwitchCase="'RIN-100'">RINCÓN DE ROMOS, AGS</ng-container>
                                <ng-container *ngSwitchCase="'NHE-100'">NIÑOS HEROES, JAL</ng-container>
                                <ng-container *ngSwitchCase="'JUP-100'">JUAN PABLO, JAL</ng-container>
                                <ng-container *ngSwitchCase="'GZL-100'">GONZALEZ GALLO, JAL</ng-container>
                                <ng-container *ngSwitchCase="'ZAC-100'">GUADALUPE, ZAC</ng-container>
                            </td>
                            <td>{{disponible.saldoUU}}</td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #NoDisponible>
                    <nz-alert nzType="warning" nzMessage="No disponible" nzDescription="Por el momento no hay unidades disponibles" nzShowIcon></nz-alert>
                </ng-template>
            </div>
        </div>
    </div>

    <ng-template #tmpSobrepedido>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" class="disponibles">
            <div fxLayout="row" fxFill>
                <div fxFlexOffset="25" fxFlex="50">
                    <nz-alert nzType="info" nzMessage="Sobrepedido" nzDescription="Este articulo es de Sobrepedido" nzShowIcon></nz-alert>
                </div>
            </div>
        </div>
    </ng-template>
    
</div>